{% extends 'base.html' %}

{% block content %}
    <div class="result large_search">
    	<h3>Add Letter</h3>
    	<p>Please Ensure the letters are in the TEI format. If not they may not be correctly indexed and searchable.</p>
    	<br>
  		<form id="" action="/add_letter" method="post">
	  		<div class="form-group">
			    <label for="doc_uri">Document URI (path):</label>
			    <input name="doc_uri" type="text" class="form-control" id="doc_uri" placeholder="document uri">
			</div>
			<div class="form-group">
			    <label for="xml">Letter XML:</label>
				<textarea id="xml" name="xml" class="form-control" rows="10" placeholder="paste xml here"></textarea>
			</div>
			<div class="btn-group"> 
	            <button type="submit" class="btn btn-default" id="refine_button">Submit</button>
	        </div>
        </form>
    </div>    
{% endblock %}
